* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display:flex;
    flex-direction: column;
    background-color: darkorange;
}

header{
    display:flex;
    justify-content: center;
    background-color: aqua;

}

img {
    width: 250px;
}

.one {
    color: blue;
}

.two {
    color: brown;
}

.three {
    color:darkcyan
}

#derb_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius:25px ;
    margin: 20px;
    
    
}

#box_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border:solid;
    background-color: pink;
    border-color: black;
    border-radius:25px ;
}

#buttons {
    display: flex;
    border-color: black;
    border-radius:25px;
    
}

button {
    margin: 10px;
    border-radius: 25px;
    background-color: deepskyblue;
}

.container {
    display: flex;
    margin: 20px;
}

img {
    max-width: 250px;
    height: 250px;
}